@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Lalezar&display=swap');

:root {
  --primary-bg-color: #F0F0F0;
  --muted-color: #A8A8A8;
  --muted-text-color: #575757;
  --highlight-color: #0059FF;
  --border-color: #B9B9B9;
}