html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
}

body > * {
    font-family: "Khula", sans-serif;
}

.bg-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("/client/assets/img/triangles2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.title-tagline-box, .login-box {
    flex: 1;
}

.title-tagline {
    font-family: "Lalezar", sans-serif;
    margin: 0;
    padding: 2.25rem;
    color: white;
    top: 0;
    left: 0;
    display: flex; 
    gap: 1rem;
}

.title-tagline img {
    height: 8rem;
}

.title-tagline > * {
    margin: 0;
}

.title-tagline h1 {
    margin: 0;
    font-size: 3rem;
}

.title-tagline p {
    font-family: "Khula", sans-serif;
    font-size: 1.25rem;
    margin: 0;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

#tabs {
    display: flex;
    margin-bottom: 0px;
    padding-left: 1.25%;
}

#tabs li {
    font-family: "Khula", sans-serif;
    color: var(--muted-text-color);
    font-weight: bold;
    list-style-type: none;
    font-size: 1.5rem;
    padding: .5rem 2rem 0rem 2rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--muted-color);
}

#tabs li:hover {
    cursor: pointer;
}

#tabs li.active-tab {
    background-color: var(--primary-bg-color);
    color: black;
}

.tab-contents {
    background-color: var(--primary-bg-color);
    margin-left: 1.25%;
    width: 97.5%;
    height: 70.5vh;
    border-radius: 20px;
    border-top-left-radius: 0px;
}

.tab-contents h1 {
    margin: 0px;
}

#today {
    padding: 2rem 0rem 0rem 2rem ;
    font-family: "Lalezar", sans-serif;
    font-size: 3rem;
}

.values {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    row-gap: 5rem;
    padding-top: 5rem;
    margin: 0px;
}

.values li {
    list-style-type: none;
}

.values > * {
    text-align: center;
}


.values p {
    font-size: 1.5rem;
    font-family: "Khula", sans-serif;
}

.values h1 {
    font-size: 3rem;
    font-family: "Lalezar", sans-serif;
}

.users-panel {
    display: flex;
    border-radius: 12px;
    padding: 24px;
    min-height: 600px; 
}


.table-queries {
    
    flex-basis: 200px; 
    flex-shrink: 0; 
    margin-right: 24px;
    border-right: 1px solid #eee; 
}

.table-queries ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.table-queries li {
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 500;
    color: #555;
    margin-bottom: 8px;
}

.table-queries li:hover {
    background-color: #f4f4f5;
}


.table-queries li.active-query {
    background-color: white; 
    color:var(--muted-text-color); 
    font-weight: bold;
}


.table-container {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    min-width: 0; 
}


.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.table-header h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.table-header button {
    width: 36px;  
    height: 36px; 
    padding: 8px;   
    border: 1px solid #e5e7eb; 
    border-radius: 8px;
    background-color: #f9fafb;
    cursor: pointer;
    margin-left: 12px;
}

.table-header button:hover {
    background-color: var(--muted-color);
}

.table-header button img {
    height: 100%;
    width: 100%;
}


.search-bar {
    display: flex;
    align-items: center;
    background-color: #f9fafb;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 8px 12px;
    width: min(25vw ,300px);
}

.search-bar span {
    margin-right: 8px;
    color: #9ca3af; 
}

.search-bar input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
}

.search-bar input::placeholder {
    color: #9ca3af;
}


.table-content {
    width: 100%;
    border-collapse: collapse; 
}


.table-content thead tr {
    
    background-color: var(--highlight-color); 
    color: #ffffff;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 1rem;
}

.table-content th,
.table-content td {
    padding: 12px 16px;
    border-bottom: 1px solid #e5e7eb; 
    vertical-align: middle;
}

.table-content th:first-child,
.table-content td:first-child {
    width: 40px; 
    text-align: center;
}


.table-content tbody tr {
    font-size: 14px;
    color: #333;
}

.table-content tbody tr:hover {
    background-color: #f9fafb; 
}


.table-footer {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding-top: 20px;
    margin-top: auto; 
}

.pagination {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.pagination span {
    margin: 0 4px;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    color: #555;
}

.pagination span.page-num:hover {
    background-color: #f4f4f5;
    color: var(--muted-text-color);
    font-weight: bold;
}