html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bg {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/slubakakeng.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.bg-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/triangles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}